:root {
    --font-size-sm: 1rem;  /* Define the custom variable with a unit */
    --font-size-md: 1.4rem;
    --font-size-lg: 2rem;
    --font-size-xlg: 3rem;
    --font-size-xxlg: 3.8rem;
      --span-color: #4D55CC;
      --a-tag-color: beige;
      --color-background:#131010;
  }





.business__container {
    
    width:100%; /* Adjust width as needed */
    padding: 16px;
    height: auto; /* Makes sure the height adjusts based on the content */
    display:grid;
    gap: 2.2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; /* Center items horizontally */
    box-sizing: border-box; /* Ensures padding is included in the width/height */
    text-align: center; /* Optional, centers the content inside */
   
   

}

.business__container img {
    width: 100%; /* Makes sure the image scales to fit within the container */
    height: auto; /* Maintains the aspect ratio */
    margin-bottom: 0;
    max-width: 100%; /* Prevents the image from overflowing the container */
    object-fit: cover; /* Optionally, use this to make sure the image covers the container properly */
    border-radius: 7px;
}

.image_holder{
border: 0.2px solid bisque;
width: 90%;
height: inherit;
padding: 20px; /* Optional padding for better spacing */
margin-top: 2rem;
text-align: left;
border-radius: 8px;


}

.image_holder h2,h4, p{
    margin:0 auto;
    
}

.image_holder h4{
    font-size: var(--font-size-sm);
    font-weight: normal;
    color: aqua;
}

.image_holder button{
    width: 80%;
    height: 2rem;
    background: bisque;
    margin: 1.6rem  0 0 1rem ;
    cursor: pointer; 
    border: 0;
    border-radius: 6px;
    font-size: var(--font-size-sm);
    font-weight: normal;
}

/******************************************handling the favourate icon ***********************************/

.ratings__container{
    display: flex;
    width: 3.2rem;
    align-items: center;
}

.name__holder{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ratings__container span{
    color: white;
    font-weight: 400;
}

.business__section__form input{
    margin: auto 0;
    height: 60%;
   padding: 0.5rem;
    background: var(--color-background);
    border-radius: 6px;
    width: 60%;
}

.business__section__form {
    width: 40%;
    
    display: flex;  
}

.business__section__form span{
    margin: auto 0;
    font-size: var(--font-size-lg);
}
.business__nav{
    display: flex;
    
    justify-content: space-between;  
}
.business__nav h1{
    font-size: var(--font-size-lg);
    font-weight: 500;
}

.business__section__form button{
    margin: auto 0;
    margin-left: 2rem;
    height: 60%;
   padding: 0.5rem;
    background: var(--color-background);
    border-radius: 6px;
    width: 25%;
    color: var(--a-tag-color);
    
    display: flex;
    
}

.business__section__form button span{
    font-size: var(--font-size-sm);
    font-weight: normal;
    margin: auto 2px;

}